.heroBanner {
  padding: 10rem 0;
  /* text-align: center; */
  position: relative;
  overflow: hidden;
}

.heroBannerLeft {
  text-align: right;
}
.heroBannerLeft img {
  padding-right: 40px;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 6rem 0;
  }
  .heroBannerLeft {
    text-align: center;
  }

  .heroBannerRight {
    text-align: center;
  }
}
