.showcaseHeader {
  /* padding: 10rem 0; */
  text-align: center;
  position: relative;
  overflow: hidden;
}

.showcaseHeader img {
  max-width: 400px;
  /* padding-right: 40px; */
}

@media screen and (max-width: 996px) {
}
