.fullwidthCard {
  /* height: 100%; */
  padding: 30px;
}

.fullwidthCard p {
  text-align: left;
}

.fullwidthCardImage {
  max-height: 175px;
  overflow: hidden;
}

.fullwidthLeft {
  margin-bottom: 20px;
}

.fullwidthLeft img {
  max-height: 80px;
  max-width: 150px;
  overflow: hidden;
  margin-bottom: 20px;
}

.fullwidthRight {
  padding: 40px;
}
