.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  display: flex;
  align-items: center;
  width: 100%;
}

.links {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 4rem;
}

@media screen and (max-width: 996px) {
  .feature {
    padding: 0;
  }
}
