/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/*
F3D9DC
D7BEA8
30323D
4D5061
ED1C23
*/

/*
8BE8CB
7EA2AA
235789
161925
ED1C23
https://coolors.co/8BE8CB-7EA2AA-235789-161925-ed1c23

https://coolors.co/e5f9e0-a3f7b5-235789-161925-ed1c23
*/

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #161925;
  --ifm-color-primary-dark: #141721;
  --ifm-color-primary-darker: #090a0f;
  --ifm-color-primary-darkest: #020204;
  --ifm-color-primary-light: #2d303b;
  --ifm-color-primary-lighter: #8b8c92;
  --ifm-color-primary-lightest: #e8e8e9;

  --ifm-color-success: #8be8cb;
  --ifm-color-success-dark: #7dd1b7;
  --ifm-color-success-darker: #467466;
  --ifm-color-success-darkest: #0e1714;
  --ifm-color-success-light: #97ead0;
  --ifm-color-success-lighter: #c5f4e5;
  --ifm-color-success-lightest: #f3fdfa;

  --ifm-color-info: #ed1c23;
  --ifm-color-info-dark: #d51920;
  --ifm-color-info-darker: #5f0b0e;
  --ifm-color-info-darkest: #180303;
  --ifm-color-info-light: #ef3339;
  --ifm-color-info-lighter: #f68e91;
  --ifm-color-info-lightest: #fde8e9;

  --ifm-color-secondary: #235789;
  --ifm-color-secondary-dark: #204f7b;
  --ifm-color-secondary-darker: #122c45;
  --ifm-color-secondary-darkest: #03090e;
  --ifm-color-secondary-light: #396995;
  --ifm-color-secondary-lighter: #c4d2df;
  --ifm-color-secondary-lightest: #f4f6f8;

  /* --ifm-global-shadow-lw: 0; */

  /* --ifm-color-secondary: #ED1C23;
  --ifm-color-secondary-dark: #d51920;
  --ifm-color-secondary-darker: #5f0b0e;
  --ifm-color-secondary-darkest: #180303;
  --ifm-color-secondary-light: #ef3339;
  --ifm-color-secondary-lighter: #f68e91;
  --ifm-color-secondary-lightest: #fde8e9;

  --ifm-color-info: #235889;
  --ifm-color-info-dark: #204f7b;
  --ifm-color-info-darker: #122c45;
  --ifm-color-info-darkest: #03090e;
  --ifm-color-info-light: #396995;
  --ifm-color-info-lighter: #c4d2df;
  --ifm-color-info-lightest: #f4f6f8; */

  /* --ifm-color-info: #7EA2AA;
  --ifm-color-info-dark: #719299;
  --ifm-color-info-darker: #3f5155;
  --ifm-color-info-darkest: #0d1011;
  --ifm-color-info-light: #8babb3;
  --ifm-color-info-lighter: #bfd1d5;
  --ifm-color-info-lightest: #f2f6f7; */

  --ifm-link-color: var(--ifm-color-secondary);

  --ifm-footer-background-color: var(--ifm-color-primary);
  --ifm-footer-color: #7ea2aa;
  --ifm-footer-link-color: #7ea2aa;
  --ifm-footer-link-color: #7ea2aa;
  --ifm-footer-title-color: #7ea2aa;

  --ifm-font-size-base: 16px;
  --ifm-code-font-size: 95%;

  --ifm-font-family-base: 'Roboto';
  --ifm-font-family-monospace: 'Roboto Mono';

  /* --ifm-global-radius: 0px; */
  --ifm-card-border-radius: 5px;
  --ifm-button-border-radius: 0;

  --ifm-global-shadow-lw: 0;
  --ifm-navbar-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.docusaurus-highlight-code-line {
  background-color: #000;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.navbar__title {
  padding-right: 100px;
}

.menu__link {
  font-size: 14px;
  line-height: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.header-github-link:hover {
  opacity: 0.6;
}

.header-github-link:before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

.box {
  display: flex;
  padding: 2rem;
  /* border: var(--ifm-color-info-lighter) 1px solid; */
  border-radius: 6px;
  margin: 0 2rem;
  /* background-color: #ffffff; */
}

.os_select {
  vertical-align: bottom;
  width: 33%;
  padding: 1em;
  text-align: center;
}
.os_select svg {
  height: 50px;
}
.os_select a {
  color: var(--ifm-color-primary);
}
.os_select a:hover {
  color: var(--ifm-color-info);
  text-decoration: none;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Noto Sans JP', sans-serif; */
  /* font-family: 'Open Sans', sans-serif; */
  background-color: var(--ifm-color-secondary-lightest);
}

.navbar__title {
  /* font-family: 'Noto Sans JP', sans-serif; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: 'Noto Sans JP', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.05rem;
}

html[data-theme='dark'] .header-github-link:before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

.footer__link-item {
  filter: brightness(80%);
}
.footer__link-item:hover {
  color: var(--ifm-footer-link-color);
  filter: brightness(100%);
  text-decoration: none;
}
.footer__copyright {
  font-size: 12px;
}
